{% extends 'layout/content-dynamic.html.twig' %}

{% block title %}Las recetas - {{ title }}{% endblock %}

{% block content %}

    <h1>{{ title }}</h1>
    <div class="thumbnail">
        <img src="{{ image }}" class="img-responsive" />
    </div>

    {% set url = app.url('RecipesController::recipe', {'slug' : slug_url}) %}
    <div class="fb-post-like fb-like pull-left" data-href="{{ url }}" data-layout="box_count" data-send="false" data-layout="button_count" data-show-faces="true"></div>

    <p>{{ description }}</p>
{% endblock %}